.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ? ======================= New style from previous code ========================== */
body {
  background-color: #8C503A;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home__page {
  background-color: #fff;
  width: 50em;
  height: 35em;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1em;

  border-radius: 1em;
}

.optionOne,
.optionTwo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: 1em;
  padding: .5em 1em;
  height: 4em;
  width: 10em;
  border: .01em #023E73 solid;
  border-radius: .7em;
  color: #024059;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Create account  */
.AvatarUpload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.AvatarUpload {}

.form>a {
  color: #024059;
  text-decoration: none;
}

.formCreateTitle {
  font-size: 2rem;
  font-weight: 500;
  color: #024059;
}

.clientName {
  padding: .8em 1em;
  width: 20em;
  border: 0;
  box-shadow: .1em .4em 1em .0em grey;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.createFormClick {
  width: 10em;
  height: 3em;
  /* padding: 1em 2em; */
  border: 0;
  border-radius: 1em;
  background-color: #BF6415;

  font-weight: normal;
  color: white;
  cursor: pointer;
}

/* chat */
.clientName {
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  padding: 0px 10px 10px 10px;
  font-size: .9rem;
  outline: none;
  border-radius: 7px;
  height: 2.5em;
  line-height: 1em;
  width: 17em;
}

::placeholder {
  text-align: top;
  color: #B0B5BD;
  top: 0;
}

.Inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.Inputs>div {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 3em;
}

.avatrfileselect {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .4em
}

.clientNameavatar {
  width: 9.5em;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: rgba(152, 147, 147, 0.726);
  font-weight: 330;
}

.avatrfileselect>img {
  width: 4em;
  height: 4em;
}

/* ?! sIGN IN STYLE */
.ChatPage {
  display: flex;
  justify-content: center;
  height: 35em;
}

.InputsSignin>div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.InputsSignin>div>input {
  width: 15em;
}

/* *? Chat paget Style */
.conOneHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

.containerOne {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.avatarimg {
  width: 3em;
  height: 3em;
  border-radius: 2em;
}

.fullname {
  width: 15em;
  font-size: 1.2rem;
  font-weight: 550;
  color: #ffff;
}

.userlist {
  color: #fff;
  font-size: .8rem;
  font-weight: 200;
}

.conOneMain {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.conOneMain>ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.conOneMain>ul>li {
  display: flex;
  column-gap: 1em;
  align-items: center;
  padding: .1em .5em;
  cursor: pointer;

}

.userfullname {
  font-style: 1rem;
  color: #fff;
}

.useravatar {
  height: 2.5em;
  width: 2.5em;
  border-radius: 2em;
}

.active {
  background-color: #fff;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.conOneMain::-webkit-scrollbar {
  display: none;
  height: 3em;
}

.conOneMain {
  height: 25em;
}

.active>.userfullname {
  color: #023E73;
}

.exit {
  width: 3em;
  height: 3em;
}

/* container two */
.containerTwo {
  background-color: #fff;
  padding: .5em;
  border-radius: 1em;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conTwoHeader {
  background-color: #BF6415;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: .0em 0.5em;
  display: flex;
  justify-content: flex-start;
  height: 2.5em;
  align-items: center;
  gap: .5em;
}

.conTwoHeader>.useravatar {
  width: 2em;
  height: 2em;
  border-radius: 2em;
}

.conTwoHeader>.userfullname {
  font-size: 1.1rem;
}

.messageText::placeholder {
  color: #fff;
}

.messageText {
  /* background-color: rgb(50, 37, 37); */
  background-color: #BF6415;
  border-width: 0;
  height: 80%;
  padding: .3em 1em;
  border-bottom-left-radius: 1em;
  outline: none;
  color: #fff;
  resize: none;
}

.messageFileSend {
  background-color: #BF6415;
  border-width: 0;
  padding: .3em 1em;
  height: 105%;
  outline: none;
  color: #fff;

}

.messageTextSend {
  background-color: #BF6415;
  border-width: 0;
  padding: .3em 1em;
  height: 105%;
  border-bottom-right-radius: 1em;
  outline: none;
  color: #fff;
}

.conTwoMain {
  /* background-color: #BF6415; */
}

.conTwoMain::-webkit-scrollbar {
  display: none;
  height: 3em;
}

.messageText::-webkit-scrollbar {
  display: none;
  height: 3em;
}

.conTwoFooter {
  /* background-color: #BF6415; */
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  gap: .3em;
  height: 2em;
}

.Messagetext {
  background-color: #024059;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.2rem;
  padding: .3em .5em;
  width: fit-content;
  height: fit-content;
  /* max-width: ; */
  display: flex;
  flex-wrap: wrap;
  border-top-left-radius: 1em;
  border-top-right-radius: .8em;
  border-bottom-left-radius: .2em;
  border-bottom-right-radius: 1em;
}
.fileDisplay{
  width: 15em;
  height: fit-content;
}
.conTwoMain {
  overflow-y: scroll;
  height: 30em;
  display: flex;
  flex-direction: column;
  gap:.5em;
  margin-top: 1em;
}

.messageCon {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

.messageConStart {
  display: flex;
  justify-content: flex-start;
  height: fit-content;
}

.messageCon>.Messagetext {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 0.2em;
}

.file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.FileLabel {
  display: inline-block;
  padding: 0.4em 0.6em;
  background-color: #BF6415;
  color: white;
  height: 67%;
  font-size: 16px;
  cursor: pointer;
}

.file-upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

p {
  margin: 0;
}
.menuicon{
  display: none;
}
.close{
  display: none;
}

/* !--------------------------------------- */
/* * Media style for phone  */
/* ?----------------------------------------*/
@media only screen and (max-width: 1080px) {
  .home__page {
    width: 20em;
    display: flex;
    flex-direction: column;
  }
  .Inputs > div {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;

    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 1em;
  }
  .menuicon{
    display: flex;
  }
  .close{
    display: flex;
  }
  .Inputs{
    gap: 1em;
  }
  .form{
    gap: 1em;
  }
  /* CHat page style */
  body{
    overflow-x: hidden;
  }
  .containerOne{
    display: flex;
    position: absolute;
    background-color: #024059db;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    padding: 1em 0em;
    display: none;
  }
  .containerTwo{
    width: 100%;
    height: 46.5em;
    padding: 0em 0em 1em 0em;
    border-radius: 0;
    /* justify-content: ; */
  }
  .conOneFooter{
    display: none;
  }
  .userlist{
    font-size: 1.3rem;
  }
  .conTwoHeader{
    height: 3.5em;
    border-radius: 0;
    display: flex;
    justify-content: space-around;
  }
  .menuicon{
    width: 2em;
    height: 2em;
  }
  .messageText{
    height: 120%;
    width: 19em;
    padding: .5em 0em 0 2em ;
  }
  .messageTextSend{
    height: 140%;
  }
  .FileLabel{
    height: 100%;
  }
  .conTwoMain{
    height: 40em;
    padding: .5em;
  }
  .conOneMain{
    height: 30em;
    padding: 1em;
  }
  .conOneHeader{
    padding: 1em 2em;
  }
  .close{
    width: 1.5em;
    height: 1.5em;
  }
}
.display{
  display: none !important;
}
.note{
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background-color: #023E73;
  text-align: center;
  color: white;
  display: none;
}
.noteadd{
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background-color: #023E73;
  text-align: center;
  color: white;
  display: block;
}
/* .noteadd{
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background-color: #023E73;
  text-align: center;
  color: white;
  display: block;
} */